@import '../../styles/util/util';

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.hide {
  display: none;
}

.modalBox {
  background-color: white;
  max-width: 500px;
  min-width: 340px;
  margin-top: -5%;
  border-radius: 5px;
}

.show {
  display: flex;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  h3 {
    margin: 0;
  }
  
  i {
    opacity: 0.5;

    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }
}

.content {
  padding: 10px 20px 30px;
}
