@import '../../styles/util/util';

.card {
  background-color: white;
  border-radius: 3px;
  padding: 10px;

  &:hover {
    cursor: pointer;
    background: lighten($grey-1, 4%);
  }

  h4 {
    margin: 0 0 0.35em;
  }

  p {
    margin: 0;
  }

  img {
    width: 100%;
    margin-bottom: 0.75em;
  }
}

.preheader {
  text-transform: uppercase;
  display: block;
  font-size: 0.75em;
  font-weight: 700;
  opacity: 0.5;
  margin-bottom: 0.1em;
}

.body {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.placeholder { 
  @extend %placeholder-shared;
  width: 100%;
  min-height: 120px;
}
