@import '../../styles/util/util';

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: white;
  border-bottom: 1px solid $grey-1;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0 15px;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  
  li {
    display: flex;
    align-items: center;
  }
  
  li:not(:last-child) {
    margin-right: 30px;
  }
  
  a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  input {
    margin: 10px;
  }
}

.link {
  font-weight: bold;
  font-size: 0.85em;
  text-transform: uppercase;
  opacity: 0.4;

  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}

.logo {
  display: flex;
  flex-direction: row;
  
  a {
    padding: 0 5px 0 0;
  }

  & + li {
    margin-left: auto;
  }
}