@import 'typography';
@import 'forms';
@import 'alerts';
@import 'buttons';
@import 'transitions';

body {
  font-family: 'Noto Sans SC', sans-serif;
  background-color: $grey-1;
}

ul {
  list-style: none;
  padding: 0;
}

section {
  max-width: 1400px;
  margin: 0 auto 40px;
  padding: 0 15px;

  &.no-padding {
    padding: 0;
  }
}

.form-container {
  @extend %card-shadow;
  padding: 20px 20px 25px;
}

span.link {
  text-decoration: underline;

  &:hover {
    cursor: pointer;
  }
}
