@import 'typography';
@import 'forms';
@import 'buttons';

body {
  padding-top: 68px;
  font-family: 'Noto Sans SC', sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

section {
  max-width: 1400px;
  margin: 0 auto 40px;
  padding: 0 15px;

  &.no-padding {
    padding: 0;
  }
}