$primary: #108B90;
$primary-light-1: #8ECACF;
$primary-light-2: #DBF5F4;
$primary-light-3: #F3F6FB;


$grey-0: #FAFAFA;
$grey-1: #E0E0E0;
$grey-2: #D7E0E8;

$secondary: #22344A;

$shadow-0: 0 1px 1px rgba(51, 51, 51, 0.1);
$shadow-1: 0 1px 2px rgba(51, 51, 51, 0.15);
$shadow-2: 0px 2px 7px 0px rgba(51, 51, 51, 0.18);
$shadow-3: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px;

$facebook: #3b5998;