@import '../../styles/util/util';

.Post {
  border: 1px solid rgba(255, 255, 255, 0.15);

  &:hover {
    cursor: pointer;
    background: $grey-0;
  }
}

.Info {
  display: flex;
  background: rgba(255, 255, 255, 0.08);

  img {
    max-height: 70px;
  }

  span {
    display: block;
    font-size: 13px;

    &:nth-child(2) {
      opacity: 0.6;
    }
  }
}

.TrackInfo {
  padding: 8px 12px; 
}

.Body {
  padding: 12px 10px;
  
  span {
    background: $grey-1;
    border-radius: 40px;
    padding: 5px 12px;
    font-size: 14px;
    color: black;
  }
}

// Themes
.Primary {
  .Info span {
    color: white;
  }
}