@import '../../styles/util/util';

.login {
  text-align: center;
}

.loginBtns {
  display: block;
  text-align: center;
  margin-top: 1.25em;
}

.facebookBtn {
  border-radius: 3px;
  background-color: $facebook;
}

.userIcon {
  display: block;
  text-align: center;

  img {
    height: 10em;
  }
}